.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    list-style: none;
  }
    
  .accordion-list > li {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      background-color: #FFF;
      /* margin: 0 auto 15px auto; */
      border: 1px solid #eee;
      border-radius: 5px;
      cursor: pointer;
  }
  
  
  .accordion-list li.active .h3 {
    background-color: rgb(226, 237, 255);
  }
      
  .accordion-list li .h3 {
        font-weight: 500;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        /* padding: 0 0 0 0; */
        margin: 0;
        font-size: 17px;
        letter-spacing: 0.01em;
        cursor: pointer;
        padding: 20px;
  }
  
        
      
  div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 10px 5px 5px 20px;
  }
        
  div.answer .inside {
    position: relative;
    display: block;
    font-weight: 300;
    cursor: pointer;
    line-height: 150%;
    margin: 0 0 15px 0;
    font-size: 14px;
  }
  
  
  .up:after {
    content:' \2206';
    float:right;
    margin-left: 15px;
  }
  
  .down:after {
    content: ' \2207';
    float:right;
  }