{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 8</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Welcome!</mark></h1>
        </div>

        <div class="col-sm-12 align-self-center"> 
            <h1>This is the index page!</h1>
            {% if user.is_authenticated %}
            <h2>Your name is: {{ user.username }}</h2>
            {% else %}
            <h2>You are not logged in.</h2>
            {% endif %}
        </div>


    </div>
</div>


{% endblock content %}
{% block script %}

{% endblock script %}
