{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/style7.css' %}">
<title>story 7</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Informasi</mark></h1>
        </div>
        <ul class="accordion-list col-sm-12">
            <li>
                <div class="h3">Aktivitas saat ini <span class="up"></span><span class="down"></span></div>
                <div class="answer">
                    <p class="inside">Sekarang sedang fokus belajar dan memperbaiki nilai. Selain itu, terdapat kepanitiaan dan organisasi yang sedang dijalani.</p>
                </div>
            </li>
      
            <li>
                <div class = "h3">Pengalaman organisasi dan kepanitiaan <span class="up"></span><span class="down"></span></div>
                <div class="answer">
                    <ul class="inside">
                        <li>DPM Fasilkom UI 2020</li>
                        <li>PERAK Fasilkom UI 2020</li>
                        <li>PMB Fasilkom UI 2020</li>
                        <li>SIWAK Fasilkom UI 2020</li>
                        <li>BKUI 2020</li>
                    </ul>
                </div>
            </li>
      
            <li>
                <div class="h3"> Prestasi <span class="up"></span><span class="down"></span></div>
                <div class="answer">
                    <p class="inside">Tidak ada :"</p>
                </div>
            </li>
      
            <li>
                <div class ="h3">Film dan tv shows favorit <span class="up"></span><span class="down"></span></div>
                <div class="answer">
                    <ul class="inside">
                        <li>Community</li>
                        <li>Brookly nine-nine</li>
                        <li>RPDR</li>
                        <li>Assassination Classroom</li>
                        <li>Modern Family</li>
                    </ul>
                </div>
            </li>
      
        </ul>
    </div>
</div>


{% endblock content %}
{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock script %}
