{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 6</title>
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Kegiatan Ku </mark></h1>
        </div>
        <div class="col-sm-12">
            <form action="{% url 'story6:savekegiatan' %}" method="POST">
                {% csrf_token %}
               <h3>{{ input_form.as_p}} </h3> 
                <input class="submit btn" type="submit" value="Submit">
            </form>
            
        </div>
        <div class="col-sm-12">
            {% if kegiatan %}
            <table class="table table-borderless"> 
                {% for kg in kegiatan %}
                <tr>
                    <td>{{ kg.name }}</td>
                    <td>
                        <ul>
                            {% for pr in kg.peserta_set.all %}
                            <li>
                                {{ pr.name }}
                            </li>
                            {% endfor %}
                        </ul>
                        <form action="{% url 'story6:savepeserta' pk=kg.id %}" method="POST">
                            {% csrf_token %}
                            {{ peserta_form.as_p }}
                            <button class="submit btn" type="submit">Tambah peserta</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}