{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 3</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Get in Touch</mark></h1>
          </div>
        <div class="card-c card border-dark mb-3 top-p">
            <div class="row no-gutters">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 align-self-center">
                <img src="{% static 'foto-profil.JPG' %}" class="profileimg card-img" alt="foto profil"/>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                <div class="card-body">
                    <table class="tablecontact">
                          <tr>
                            <td>
                                <a id = "a" class="round-btn btn" href="https://www.instagram.com/syifarizka/" target="_blank"><i id = "iconsfa" class="fab fa-instagram"></i></a>
                            </td>
                            <td>@syifarizka</td>
                          </tr>
                          <tr>
                            <td>
                                <a id = "a" class="round-btn btn" href="https://www.linkedin.com/in/syifa-rizka-sagita/" target="_blank"><i id = "iconsfa" class="fab fa-linkedin-in"></i></a>
                            </td>
                            <td>Syifa Rizka Sagita</td>
                          </tr>
                          <tr>
                            <td>
                                <a id = "a" class="round-btn btn" href="mailto:syifa.rizka@ui.ac.id" target="_blank"><i id = "iconsfa" class="fas fa-envelope"></i></a>
                            </td>
                            <td>syifa.rizka@ui.ac.id</td>
                          </tr>
                          <tr>
                            <td>
                                <a id = "a" class="round-btn btn" href="https://gitlab.com/syifarizka23" target="_blank"><i id = "iconsfa" class="fab fa-gitlab"></i></a>
                            </td>
                            <td>@syifarizka23</td>
                          </tr>
                      </table>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>

{% endblock content %}