{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 3</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 align-self-center">
        <h1 class="h top-p"><mark id="mark">Experience</mark></h1>
      </div>
      <div class="card-deck top-p">
        <div class="card card-org">
          <img class="card-img-top" src="{% static 'org/dpm.jpeg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">DPM Fasilkom UI</h5>
            <p class="card-text">Deputy Head of Administration</p>
            <div class="overlay"><img class ="imgcard" src="{% static 'hover/dpm-h.jpg' %}"></div>
          </div>
        </div>
        <div class="card card-org">
            <img class="card-img-top" src="{% static 'org/perak.jpeg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pesta Rakyat Komputer Fasilkom UI 2020</h5>
              <p class="card-text">Staff of Decoration</p>
              <div class="overlay"><img class ="imgcard" src="{% static 'hover/perak-h.jpg' %}"></div>
            </div>
          </div>
          <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      <div class="card card-org">
        <img class="card-img-top" src="{% static 'org/bkui.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bedah Kampus  UI 2020</h5>
          <p class="card-text">Staff of Corporate Relation</p>
          <div class="overlay"><img class ="imgcard" src="{% static 'hover/bkui-h.jpg' %}"></div>
        </div>
      </div>
    <div class="card card-org">
        <img class="card-img-top" src="{% static 'org/pmb.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">PMB Fasilkom UI 2020</h5>
          <p class="card-text">Staff of Event</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 align-self-center">
      <h1 class="h top-p"><mark id="mark"> Project </mark></h1>
      <p>Ditunggu!</p>
    </div>

    </div>
  </div>

{% endblock content %}