{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 3</title>
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Mata Kuliah</mark></h1>
        </div>
        <div class="col-sm-12">
            <p>{{ validate }}</p>
            <form action="{% url 'story5:savematakuliah' %}" method="POST">
                {% csrf_token %}
                <table class="table-responsive">
                    {{ input_form.as_table}}
                </table>
                <input class="submit btn" type="submit" value="Submit">
            </form>
            
        </div>
        <div class="col-sm-12">
            {% if courses %}
            <table class="table table-borderless"> 
                {% for course in courses %}
                <tr>
                    <td><a href="{{ course.id }}">{{ course.name }}</a></td>
                    <td>
                        <form action="{% url 'story5:removematkul' pk=course.id %}" method="POST">
                            {% csrf_token %}
                            <button class="submit btn" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}