{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 3</title>
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">List Mata Kuliah</mark></h1>
        </div>
        <div class="col-sm-12">
            {% if course_instance %}
                <p>Nama Mata kuliah: {{ course_instance.name }}</p>
                <p>SKS: {{ course_instance.sks }}</p>
                <p>Tahun Ajaran: {{ course_instance.year }}</p>
                <p>Ruangan: {{ course_instance.room }}</p>
                <p>Deskripsi Mata kuliah:</p>
                <p>{{ course_instance.description }}</p>
                <p>Dosen Pengajar: {{ course_instance.lecturer }}</p>
        </div>
        <div class="col-sm-12">
            <form action="{% url 'story5:removematkul' pk=course_instance.id %}" method="POST">
                {% csrf_token %}
                <button class="submit btn" type="submit">Delete</button>
              </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}