<!--kalo bika per matkul ada pilihan delete this matkul -->
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 3</title>
{% endblock meta %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Mata Kuliah</mark></h1>
        </div>
        <div class="col-sm-12">
            {% if course_instance %}
                <p>Berhasil menghapus {{ course_instance.name }}</p>
            {% endif %}

            <a id = "a" class="btn" href="{% url 'story5:matakuliah' %}" role="button">Kembali</a>
        </div>
    </div>
</div>

{% endblock content %}