/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'avenir';
  font-size: 22px;
  background-color:#fffcf6e1;
}

#footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}

.card-deck {
  margin: auto;
}
.card-c {
  box-shadow: 15px 15px #667292;
  justify-content: center;
  min-width: 75%;
  display: flex;
  margin: auto;
  padding: 3%;
}

.tablecontact {
  margin: auto;
  padding-left: 10%;
  justify-content: center;
  display: flex;
}

td {
  height: 50pt;
  width: 50pt;
}

.top-p {
  margin-top:5%;
}

.navbar {
  background-color:#89ABE3FF;
}

.h {
  color:#000000;
  text-align: center;
  font-size: 2.5 rem;
  padding: 0%;
}

p {
  color:#000000;
  font-size: 20px;
}

.profileimg { 
  border-radius: 299px;
  width:300px;
  height:300px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10%;

}

#mark {
  display: inline-block;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #ffd0ae70 35%);
  color: rgb(0, 0, 0);
  padding: 0%;
}

#a {
  background-color:#89ABE3FF;
  color: rgb(255, 255, 255);
  font-size: medium;
}

.submit {
  background-color:#89ABE3FF;
  color: rgb(255, 255, 255);
}

#a:hover {
  background-color:#ffd0aeb6;
  color: white;
}

.round-btn {
  width: 50px; 
  height: 50px; 
  padding: 10px 10px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center;
  background:#89ABE3FF;
}


#iconsfa {
  font-size:30px;
  color:rgb(0, 0, 0);
}


.overlay {
  position: absolute; 
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
}

.card-org:hover .overlay {
  opacity: 100%;
}


.imgcard {
  height: 100%; width: 100%; object-fit: cover;
}

/*.searchbox {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 10px 10px 10px rgba(200, 200, 200, 0.616);
}*/

.wrap{
  width: 50%;
  position: static;
  left: 50%;
  padding-top: 25px;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
  border-radius: 50px;
  border: 2px solid #89ABE3FF;
  background: #ffffff;
}

.searchbox {
  width: 100%;
  border: 0px;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 50px;
  outline: none;
  color: #000000;
}

.searchbox:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  background: #ffffff;
  text-align: center;
  color: #89ABE3FF;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
}


/* horizontal timeline */
/* belum dipakai */
.timeline {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 30px 50px 10px 50px;
  position: relative;
}

.entry {
  display: inline-block;
  vertical-align: top;
  background: #ffd9bbcc;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  position: relative;
  border-radius: 3px;
  min-width: 200px;
  max-width: 500px;
  margin-right: 100px;
}

.entry img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 10px 10px 10px;
  width:150px;
  height:150px; 
}

.entry:after {
  content: '';
  display: block;
  background:#ffd0ae;
  width: 25px;
  height: 25px;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -15px;
}

.entry:before {
  content: '';
  display: block;
  background: #89ABE3FF;
  width: 5px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -5px;
}

.entry h1 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: Georgia, serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry h2 {
  letter-spacing: .2em;
  margin-bottom: 10px;
  font-size: 14px;
}

.bar {
  height: 6px;
  background: #89ABE3FF;
  width: fluid;
  position: relative;
  top: 13px;
  overflow-x: scroll;
  overflow-y: scroll;
}