{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 8</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Log in</mark></h1>
        </div>



        <div class="col-sm-12 align-self-center">
                {% if form.errors %}
                <p>There's something wrong with what you entered!</p>
                {% endif %}

                {% if next %}
                <p>Hey, you can't access that page.</p>
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <p>Username: {{ form.username }}</p>
                    <p>Password: {{ form.password }}</p>

                    <p><input type="submit" = value="login"></p>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <p>Belum mendaftar? <a href="{% url 'story9:register' %}">register</a></p>
        </div>


    </div>
</div>


{% endblock content %}
