{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 8</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Berhasil Keluar</mark></h1>
        </div>

        <div class="col-sm-12 align-self-center"> 
            <h2>Goodbye, see you next time!</h2>

        </div>


    </div>
</div>


{% endblock content %}
{% block script %}

{% endblock script %}
