{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 8</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Sign Up</mark></h1>
        </div>



        <div class="col-sm-12 align-self-center">
                <form method="post" action="{% url 'story9:register' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                    <p>There are errors in the form!</p>
                    {% endif %}
            
                    {{ form }}
                    <input type="submit" value="Register">
                </form>
        </div>

    </div>
</div>


{% endblock content %}