{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 8</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h1 class="h top-p"><mark id="mark">Informasi Buku</mark></h1>
        </div>
        <div class="col-sm-12 wrap">
            <div class="search">
                <input type="text" id="keyword" class="searchbox" placeholder="Mau baca buku apa?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-12" style="padding-top: 25px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody id="output">
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: 'https://www.googleapis.com/books/v1/volumes?q=warcross',
            success: function(output) {
                var obj_output = $("#output");
                obj_output.empty();

                for (i=0; i< output.items.length; i++) {
                    var temp_title = output.items[i].volumeInfo.title;
                    var temp_desc = output.items[i].volumeInfo.description;
                    var temp_foto = output.items[i].volumeInfo.imageLinks.smallThumbnail;
                    var nomor = i+1;
                    var isi = '<h3>'+temp_title+'</h3>'+'<p>'+temp_desc+'</p>';
                    obj_output.append('<tr><td>'+nomor+'</td>'+'<td><img src=' +temp_foto+ '></td><td>'+isi+'</td><tr>');
                }
            }
            
        });
    });
    $(".searchButton").click(function() {
        var isi_keyword = $("#keyword").val();
        var url_to_views = '/story8/judul?q=' + isi_keyword;
        $.ajax({
            url: url_to_views,
            success: function(output) {
                var obj_output = $("#output");
                obj_output.empty();

                for (i=0; i< output.items.length; i++) {
                    var temp_title = output.items[i].volumeInfo.title;
                    var temp_desc = output.items[i].volumeInfo.description;
                    var temp_foto = output.items[i].volumeInfo.imageLinks.smallThumbnail;
                    var nomor = i+1;
                    var isi = '<h3>'+temp_title+'</h3>'+'<p>'+temp_desc+'</p>';
                    obj_output.append('<tr><td>'+nomor+'</td>'+'<td><img src=' +temp_foto+ '></td><td>'+isi+'</td><tr>');
                }
            }
        });
    });

    $('#keyword').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('.searchButton').click();//Trigger search button click event
        }
    });
</script>
{% endblock script %}
