<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}

</head>
<body>


      <nav class="footer navbar navbar-expand-sm navbar-dark"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto"> 
              <li class="nav-item"> 
                <a id = "a" class="round-btn btn" href="https://www.instagram.com/syifarizka/" target="_blank"><i id = "iconsfa" class="fab fa-instagram"></i></a>
              </li> 
              <li class="nav-item"> 
                <a id = "a" class="round-btn btn" href="https://www.linkedin.com/in/syifa-rizka-sagita/" target="_blank"><i id = "iconsfa" class="fab fa-linkedin-in"></i></a>
              </li>
          </ul> 
        </div>
    </nav>

</body>
</html>