{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story 1</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-6 align-self-center">
        <img class = "profileimg" src="{% static 'foto-profil.JPG' %}">
      </div>
      <div class="col-md-6" style="margin-top:5%">
        <h1 class="h"><mark id="mark">Syifa Rizka Sagita</mark></h1>
        <h2 class="h"><mark id="mark">1906299181</mark></h2>
        <div>
          <p>Mahasiswi Sistem Informasi Universitas Indonesia angkatan 2019 yang memiliki ketertarikan pada dunia IT dan senang mencoba hal-hal baru. Di waktu senggang saya hobi menonton film serta acara tv</p>
          <p>Riwayat Pendidikan:</p>
          <ul>
            <li>Universitas Indonesia (2019 - Sekarang)</li>
            <li>SMAN 68 Jakarta (2016 - 2019)</li>
            <li>SMPN 216 Jakarta (2013 - 2016)</li>
          </ul> 
        </div>
        <a id = "a" class="btn" href="{% url 'story3:profile' %}" role="button">More</a>
      </div>
  </div>
</div>


{% endblock content %}
